basic imports

In [14]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

data

In [15]:
data = {'animal': ['cat', 'dog', 'fish', 'dog', 'cat'], 'price': [100, 200, 150, 220, 110]}
df = pd.DataFrame(data)
df

  animal  price
0    cat    100
1    dog    200
2   fish    150
3    dog    220
4    cat    110

# Label Encoding

assigns a unique number to each category in a column

When to use?

* When the data is ordinal: For example, "low", "medium", "high" 
* When the column has a limited number of unique values

In [16]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['animal_encoded'] = encoder.fit_transform(df['animal'])
df

  animal  price  animal_encoded
0    cat    100               0
1    dog    200               1
2   fish    150               2
3    dog    220               1
4    cat    110               0

# One-Hot Encoding

creates new columns for each unique value in the categorical column. Each of these new columns will contain a 1 if the row belongs to that category and 0 otherwise

When to use?

* When the data is nominal (does not have a natural order, e.g., "cat", "dog", "fish").
* When the number of unique values is not too large, as the number of columns will grow with the number of unique categories.

In [17]:
df_encoded = pd.get_dummies(df['animal'], prefix='animal')
df_encoded

   animal_cat  animal_dog  animal_fish
0        True       False        False
1       False        True        False
2       False       False         True
3       False        True        False
4        True       False        False

# Target Encoding

involves replacing each category with the mean value of the target variable (the dependent variable) for that category. For example, if you have a column with categories, you assign the mean of the target variable for each category

In [18]:
target_mean = df.groupby('animal')['price'].mean()
df['animal_encoded'] = df['animal'].map(target_mean)
df

  animal  price  animal_encoded
0    cat    100           105.0
1    dog    200           210.0
2   fish    150           150.0
3    dog    220           210.0
4    cat    110           105.0

# Frequency Encoding

replaces each category with the number of times it appears in the dataset

In [19]:
frequency_encoding = df['animal'].value_counts()
df['animal_encoded'] = df['animal'].map(frequency_encoding)
df

  animal  price  animal_encoded
0    cat    100               2
1    dog    200               2
2   fish    150               1
3    dog    220               2
4    cat    110               2